table {
  margin-top: 20px;
  text-align: center;
  width: 10%;
}

.mat-elevation-z8{
  background-color: aliceblue;

.content {
  display: flex;
  flex-direction: column;
  margin:1rem auto;
  box-shadow: -1px 3px 66px 0px rgba(0,0,0,0.75);
}

}

