<app-header></app-header>
<div class="component">
  <div class="overlap-group">
    <div class="ENCABEZADO-TABLA">
      <div class="text-wrapper">Nombre Proyecto</div>
      <div class="div">ID</div>
    </div>
    <div class="text-wrapper-2">Carrera</div>
    <div class="text-wrapper-3">Curso actual</div>
    <div class="text-wrapper-4">Periodo</div>
    <div class="text-wrapper-5">Area de Investigacion</div>
    <div class="text-wrapper-6">Estado</div>

    <div class="FILTROS-BUSQUEDA">
      <div class="dropdown">
        <div class="dropdown-toggle">
          <div class="category">Carrera</div>
          <img class="vector" src="img/vector-5.svg" />
        </div>
      </div>
      <div class="dropdown-toggle-wrapper">
        <div class="dropdown-toggle">
          <div class="category">Periodo</div>
          <img class="vector" src="img/vector-3.svg" />
        </div>
      </div>
      <div class="div-wrapper">
        <div class="dropdown-toggle">
          <div class="category">Estado</div>
          <img class="vector" src="img/image.svg" />
        </div>
      </div>
      <div class="dropdown-2">
        <div class="dropdown-toggle">
          <div class="category">Area de Investigacion</div>
          <img class="img" src="img/vector.svg" />
        </div>
      </div>
      <div class="dropdown-3">
        <div class="dropdown-toggle">
          <div class="category">Periodo</div>
          <img class="vector" src="img/vector-2.svg" />
        </div>
      </div>
      <div class="dropdown-4">
        <div class="dropdown-toggle">
          <div class="category">Estado</div>
          <img class="vector" src="img/vector-4.svg" />
        </div>
      </div>
      <div class="text-wrapper-7">Seleccione Carrera</div>
      <div class="text-wrapper-8">Seleccione Periodo</div>
      <div class="text-wrapper-9">Memorias</div>
      <div class="element-medium"><button class="button">Buscar</button></div>
      <div class="button-wrapper"><button class="button">Buscar</button></div>
      <div class="element-medium-2">
        <button class="button">Limpiar</button>
      </div>
      <div class="element-big">
        <div class="field">
          <div class="placeholder"></div>
          <div class="label">ID Proyecto</div>
        </div>
      </div>
      <div class="field-wrapper">
        <div class="field">
          <div class="placeholder-2"></div>
          <div class="label-2">Nombre Proyecto</div>
        </div>
      </div>
      <div class="element-big-2">
        <div class="field">
          <div class="placeholder-2"></div>
          <div class="label-2">Nombre Alumno</div>
        </div>
      </div>
      <div class="element-big-3">
        <div class="field">
          <div class="placeholder-2"></div>
          <div class="label-2">Nombre Profesor</div>
        </div>
      </div>
    </div>
    <div class="overlap">
      <div class="INFO-PROYECTO">
        <div class="overlap-2">
          <div class="overlap-group-2">
            <div class="text-wrapper-10">02/2023</div>
            <div class="text-wrapper-11">PT2</div>
            <div class="text-wrapper-12">ICI</div>
          </div>
          <div class="text-wrapper-13">B</div>
          <div class="text-wrapper-14">B</div>
          <div class="text-wrapper-15">2</div>
          <img class="btn-sm" src="img/btn-sm-6-2.svg" />
        </div>
      </div>
      <div class="celda-INFO-PROYECTO">
        <div class="overlap-3">
          <div class="rectangle"></div>
          <div class="text-wrapper-16">ICCI</div>
          <div class="text-wrapper-17">01/2023</div>
          <div class="text-wrapper-18">C</div>
          <div class="text-wrapper-19">PT2</div>
          <div class="text-wrapper-20">C</div>
          <div class="text-wrapper-21">3</div>
          <img class="btn-sm-2" src="img/btn-sm-6-3.svg" />
        </div>
      </div>
      <div class="INFO-PROYECTO-2">
        <img class="btn-sm-3" src="img/btn-sm-6.svg" />
        <div class="text-wrapper-22">A</div>
        <div class="overlap-4">
          <div class="text-wrapper-23">01/2023</div>
          <div class="text-wrapper-24">ICCI</div>
          <div class="text-wrapper-25">PT1</div>
        </div>
        <div class="text-wrapper-26">A</div>
        <div class="text-wrapper-27">1</div>
        <div class="element-no-lable">
          <img class="checkbox" src="img/checkbox.svg" />
        </div>
      </div>
    </div>
    <div class="BOTONES-INICIO">
      <div class="btn-lg"><div class="h">Ver Proyectos</div></div>
      <div class="h-wrapper"><div class="h">Agregar Proyecto</div></div>
      <div class="btn-lg-2"><div class="h">Agregar Evento</div></div>
      <div class="btn-lg-3"><div class="h-2">Agregar Estudiantes</div></div>
    </div>
  </div>
</div>
