<app-header></app-header>
<div class="content">
  <div class="overlap-group">
    <app-botones-foro></app-botones-foro>
    <div class="new-file">
      <h2>Nuevo Item</h2>
    </div>
    <div class="form-new-file">
      <input style="margin-right: 30px;" type="text" placeholder="Titulo">
      <input style="margin-right: 30px;" type="date">
      <select style="margin-right: 30px;" name="" id="">
        <option value="Tipo">Tipo</option>
        <option value="">A</option>
        <option value="">B</option>
      </select>
      <input type="file">
      <button>Subir</button>
    </div>
    <div class="label-descripcion">
      <h4>Descripcion</h4>
      <input type="text" class="box-descripcion">
    </div>
  </div>
</div>
