<app-header></app-header>
<div class="content">
  <div class="overlap-group">
    <app-botones-foro></app-botones-foro>
    <div class="new-file">
      <h2>Nuevo Item</h2>
    </div>
    <div class="form-new-file">
      <input class="casilla-texto" type="text" placeholder="Titulo">
      <input class="casilla-texto" style="width: auto;" type="date">
      <select class="casilla-texto"  name="" id="">
        <option value="Tipo">Tipo</option>
        <option value="">A</option>
        <option value="">B</option>
      </select>
      <input type="file">
      <button class="boton-subir">Subir</button>
    </div>
    <div class="label-descripcion">
      <h4>Descripcion</h4>
      <input type="text" class="box-descripcion">
    </div>
  </div>
</div>
