.content{
  height: auto;
  .contenedor-botones-inicio {
    text-align: left;
    margin-left: 30px;
    margin-top: 40px;
  }

  .botones-interact {
    border-radius: 30px;
    width: 200px;
    height: 50px;
    color: azure;
    background-color: #125e89;
  }

  .overlap-group {
    position: relative;
    text-align: center;
    height: auto;
    left: 215px;
    background-color: #d9d9d9;
    width: 88.7%;
  }

  .new-file{
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
  }

  .form-new-file{
    text-align: left;
    margin-left: 30px;
  }

  .label-descripcion{
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
  }

  .box-descripcion{
    width: 600px;
    height: 547px;
    margin-bottom: 20px;
  }

  .casilla-texto{
    height: 40px;
    margin-right: 40px;
    width: 300px;
  }

  .boton-subir{
    background-color: aqua;
    color: black;
    border-radius: 10px;
    border-color: transparent;
    height: 40px;
    width: 100px;
  }
}

