<div class="component">
  <div class="overlap">
    <div class="MENU-INICIO">
      <a [routerLink]="['/inicio']">
        <div class="texto-menu">Inicio</div>
        <img class="icono-menu" src="../../assets/img/hogar.png" />
      </a>
    </div>
    <div class="MENU-MEMORIAS">
      <a [routerLink]="['/memorias']">
        <div class="texto-menu">Memorias</div>
        <img class="icono-menu" src="../../assets/img/documentos.png" />
      </a>
    </div>
    <div class="MENU-DASHBOARD" [ngClass]="{'active': isDashboardVisible}">
      <a [routerLink]="['/dashboard']">
        <div class="texto-menu">Dashboard</div>
        <img class="icono-menu" src="../../assets/img/kpi.png" />
      </a>
    </div>
    <div class="MENU-FORO">
      <a [routerLink]="['/foro']">
        <div class="texto-menu">Foro</div>
        <img class="icono-menu" src="../../assets/img/foro.png" />
      </a>
    </div>
    <div class="MENU-USUARIOS">
      <a [routerLink]="['/usuarios']">
        <div class="texto-menu">Usuarios</div>
        <img class="icono-menu" src="../../assets/img/usuarios.png" />
      </a>
    </div>
    <div class="MENU-RECURSOS">
      <a [routerLink]="['/recursos']">
        <div class="texto-menu">Recursos</div>
        <img class="icono-menu" src="../../assets/img/recursos.png" />
      </a>
    </div>
  </div>
</div>
