.contenedor-botones-inicio {
  text-align: left;
  margin-left: 30px;
  margin-top:16px;
}

.botones-interact {
  border-radius: 30px;
  width: 200px;
  height: 50px;
  color: azure;
  margin-top: 20px;
  background-color: #125E89;
}
