.component{
  text-align: center;
  height: 595px;
}

.component .overlap-group{
  position: relative;
  height: 100%;
  width: 85.8%;
  top: 16px;
  left: 215px;
  background-color: #d9d9d9;
  border-color: #000000;
  border: 1px solid;
}

.component .text-wrapper{
  position: absolute;
  width: 140px;
  top: 19px;
  left: 64px;
  font-family: "Montserrat-Semibold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.component .overlap{
  position: absolute;
  width: 219px;
  height: 286px;
  top: 153px;
  left: 64px;
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
}

.component .div{
  position: absolute;
  width: 70px;
  top: 18px;
  left: 74px;
  font-family: "Montserrat-Semibold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.component .btn-lg{
  display:flex;
  flex-direction: column;
  width: 164px;
  height: 62px;
  align-items: center;
  gap: 10px;
  padding: 15px 40px;
  position: absolute;
  top: 200px;
  left: 27px;
  background-color: #125e88;
  border-radius: 40px;
  overflow: hidden;
}

.component .h{
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat-Semibold", Helvetica;
  font-weight: 700;
  color: var(--light-text-color);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 32px;
  white-space: nowrap;
}

.component .overlap-2{
  position: absolute;
  width: 219px;
  height: 286px;
  top: 153px;
  left: 366px;
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
}

.component .text-wrapper-2{
  position: absolute;
  width: 126px;
  top: 17px;
  left: 46px;
  font-family: "Montserrat-Semibold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0px;
  line-height: normal;
}

.component .overlap-3{
  position: absolute;
  width: 219px;
  height: 286px;
  top: 153px;
  left: 696px;
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
}

.component .text-wrapper-3{
  position: absolute;
  width: 94px;
  top: 18px;
  left: 62px;
  font-family: "Montserrat-Semibold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0px;
  line-height: normal;
}

.component .h-wrapper{
  width: 156px;
  left: 64px;
  display: flex;
  flex-direction: column;
  height: 62px;
  align-items: center;
  gap: 10px;
  padding: 15px 40px;
  position: absolute;
  top: 63px;
  background-color: #125e88;
  border-radius: 40px;
  overflow: hidden;
}

.component .div-wrapper{
  width: 164px;
  left: 299px;
  display: flex;
  flex-direction: column;
  height: 62px;
  align-items: center;
  gap: 10px;
  padding: 15px 40px;
  position: absolute;
  top: 63px;
  background-color: #125e88;
  border-radius: 40px;
  overflow: hidden;
}

.component .h-2{
  margin-left: -18.51px;
  margin-right: -18.51px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat-Semibold", Helvetica;
  font-weight: 700;
  color: var(--light-text-color);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 32px;
  white-space: nowrap;
}
