<app-header></app-header>
<div class="component">
  <div class="overlap-group">
    <div class="titulo">
      <h1 class="label-titulo">
        Foro Universitario
      </h1>
    </div>
    <div class="contenedor-botones-inicio">
      <button class="botones-interact">Foro</button>
      <button class="botones-interact" style="margin-left: 30px;">Subir archivos</button>
    </div>
    <div class="contenedor-cuadros">
      <div class="content-cuadros">
        <div class=""></div>
        <h2>Planilla</h2>
        <p style="margin-top: 20px; margin-bottom: 20px;">En esta encuesta podras ayudarnos a mejorar nuestros servicios</p>
        <button class="botones-interact">Ver más</button>
      </div>
      <div class="content-cuadros">
        <div class=""></div>
        <h2>Proyecto</h2>
        <p style="margin-top: 20px; margin-bottom: 20px;">En esta encuesta podras ayudarnos a mejorar nuestros servicios</p>
        <button class="botones-interact">Ver más</button>
      </div>
      <div class="content-cuadros">
        <div class=""></div>
        <h2>Encuesta</h2>
        <p style="margin-top: 20px; margin-bottom: 20px;">En esta encuesta podras ayudarnos a mejorar nuestros servicios</p>
        <button class="botones-interact">Ver más</button>
      </div>
    </div>
  </div>
</div>
