$color_1: #000000;
$color_2: var(--light-text-color);
$color_3: white;
$font-family_1: "Montserrat-Semibold", Helvetica;
$background-color_1: #d9d9d9;
$background-color_2: #125e88;
$border-color_1: #000000;

.component {
  height: auto;

  .overlap-group {
    position: relative;
    text-align: center;
    height: 819px;
    top: 16px;
    left: 215px;
    background-color: $background-color_1;
    border: 1px solid $border-color_1;
    width: 88.7%;
  }

  .titulo{
    font-size: 500px;
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
  }

  .contenedor-botones-inicio{
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
  }

  .botones-interact{
    border-radius: 30px;
    width: 200px;
    height: 50px;
    color: azure;
    background-color: #125E89;
  }

  .contenedor-cuadros{
    text-align: center;
    display: inline-flex;
  }
}
