<app-header></app-header>
  <div class="component">
    <div class="overlap-group">
      <div class="text-wrapper">Foro universitario</div>
      <div class="overlap">
        <div class="div">Planilla</div>
        <div class="btn-lg"><div class="h">Ver más</div></div>
      </div>
      <div class="overlap-2">
        <div class="text-wrapper-2">Proyecto</div>
        <div class="btn-lg"><div class="h">Ver más</div></div>
      </div>
      <div class="overlap-3">
        <div class="text-wrapper-3">Encuesta</div>
        <div class="btn-lg"><div class="h"></div></div>
      </div>
      <button class="h-wrapper"> <a class="h">Foro</a></button>
      <button style="left: 299px;" class="h-wrapper"> <a class="h">Subir archivos</a> </button>
    </div>
  </div>
