<app-header></app-header>
  <div class="component">
    <div class="overlap-group">
      <div class="text-wrapper">Memorias</div>
      <div class="overlap">
        <div class="div">Planilla</div>
        <div class="btn-lg"><div class="h">Ver más</div></div>
      </div>
      <div class="overlap-2">
        <div class="text-wrapper-2">Proyecto</div>
        <div class="btn-lg"><div class="h">Ver más</div></div>
      </div>
      <div class="overlap-3">
        <div class="text-wrapper-3">Encuesta</div>
        <div class="btn-lg"><div class="h"></div></div>
      </div>
      <div class="h-wrapper"> <div class="h">Foro</div></div>
      <div class="div-wrapper"> <div class="h-2">Subir archivos</div> </div>
    </div>
  </div>
