.content-btns{
  display: flex;
  margin-left: 100px;

  @media (max-width: 768px) {
    .content-btns {
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @media (max-width: 480px) {
    .content-btns {
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

}


